<% if @programmes.present? || @programmes_contrib.present? %>
  <%= render 'shared/upcoming_programmes', :programmes => @programmes, :programmes_contrib => @programmes_contrib %>
<% else %>
  <p>There are no scheduled programmes available.</p>
<% end %>
