<% title('Chrome Extension') %>

<h2>BBC People - Chrome Extension</h2>

<ol>
  <li>Use the button below to download the chrome extension to your desktop. <br><br>
  <%= link_to 'Download Chrome Extension', chrome_extension_path, :class => 'btn btn-success' %>
  <br><br>
  </li>
  <li>Open the Chrome browser and navigate to the following location:<br><br>
    <pre>chrome://extensions</pre>
    <br>
  </li>
  <li>Now drag the chrome extension file you downloaded to your desktop onto the page. This will install the extension into Google Chrome.
    <br><br>
    <br><br>
  </li>
</ol>
