<% title('Sitemap') %>

<h1>Sitemap</h1>

<ul>
  <li> <%= link_to 'Homepage', root_path %> </li>
  <li> <%= link_to 'Chrome Extension', chrome_path %> </li>
  <li> <%= link_to 'Application Architecture', '/meta/architecture' %> </li>
  <li> <%= link_to 'Application Schema', '/meta/schema' %> </li>
</ul>


<br><br><br>
<br><br><br>
