<% title("Details for user: #{@user.twitter_handle}") %>

<h1><%= @user.twitter_handle %></h1>

<% @user.followings.each do |following| %>
  <%= link_to "#{following.dbpedia_key.titleize}", show_profile_path(following.dbpedia_key)  %><br>
<% end %>

<p> &nbsp;</p>
<p> &nbsp;</p>

  <%= render 'profiles/content_tabs' %>

<p> &nbsp;</p>
<p> &nbsp;</p>
