<% if tracks.present? %>
  <div class="pips-tags-data data">
    <h3>Latest Tracks</h3>

    <% tracks.each do |track| %>
      <%= image_tag track.image, :style => 'width: 80px;', :class => 'pull-right'  %>
      <div>
        <strong><%= link_to sanitize track.title, "http://www.bbc.co.uk/programmes/#{track.pid}" %></strong><br>
        <%= sanitize track.subtitle %>
      </div>
      <hr>
    <% end %>
  </div>
<% end %>
