<li>
	<%= content_tag( 'h4', link_to( "#{h programme.title} - #{h programme.subtitle}", "http://www.bbc.co.uk/programmes/#{programme.pid}" ) ) %>
	<%= content_tag( 'p', ( h programme.synopsis ), :class => 'synopsis' ) %>
</li>
